<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Store</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="selectedFilter">
    <ion-segment-button value="all">
      Todos
    </ion-segment-button>
    <ion-segment-button value="Abarrotes">
      Abarrotes
    </ion-segment-button>
    <ion-segment-button value="Frutas y verduras">
      Frutas y verduras
    </ion-segment-button>
    <ion-segment-button value="Farmacia">
      Farmacia
    </ion-segment-button>
    <ion-segment-button value="Limpieza">
      Limpieza
    </ion-segment-button>
  </ion-segment>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeSm="6" sizeXs="6" *ngFor="let product of filteredProducts; index as i">
        <ion-card>
          <img [src]="product.photo+i">
          <ion-card-header>
            <ion-card-title>
              {{product.name}}
              <ion-badge [color]="getBadgeColor(product.type)">{{product.type}}</ion-badge>
            </ion-card-title>
            <ion-card-subtitle>{{product.price|currency}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{product.description}}
          </ion-card-content>
          <ion-row>
            <ion-col size="2">
              <ion-item>
                <ion-input #productQuantity type="number" min="1" value="1"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-button (click)="addToCart(product, productQuantity)">Agregar</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
