<ion-header>
  <ion-toolbar>
    <ion-title>
      Registro de productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-item >
      <ion-label>Producto:</ion-label>
      <ion-input [(ngModel)]="data.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Precio:</ion-label>
      <ion-input [(ngModel)]="data.price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Descripcion:</ion-label>
      <ion-input [(ngModel)]="data.description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo:</ion-label>
      <ion-input [(ngModel)]="data.type"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Foto:</ion-label>
      <ion-input [(ngModel)]="data.photo"></ion-input>
    </ion-item>

  </ion-card>
  
  <ion-button (click)="addproduct()" >
    Guardar
  </ion-button>
</ion-content>


